<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>list</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  </head>
  <body>

    <div class="container my-4">
        <h1 class="text-center mb-4">Liste des professeurs</h1>
        <a class="btn btn-warning" href="/professors/new">
            <ion-icon name="person-add-outline"></ion-icon>
            Nouveau Prof</a>

        <!-- Table d'affihage -->
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>NOM</th>
                    <th>PRENOM</th>
                    <th>MATRICULE</th>
                    <th>GRADE</th>
                </tr>
            </thead>

            <tbody class="table-group-divider">
                <tr th:each="professor : ${professors}">
                    <td th:text="${professor.id}"></td>
                    <td th:text="${professor.firstName}"></td>
                    <td th:text="${professor.lastName}"></td>
                    <td th:text="${professor.matriculate}"></td>
                    <td th:text="${professor.grade}"></td>
                    <!-- Les actions -->
                    <td style="white-space: nowrap">
                        <a class="btn btn-warning" th:href="@{/professors/edit(id=${professor.id})}">
                            <ion-icon name="create-outline"></ion-icon>
                            Modifier
                        </a>
                        |
                        <a class="btn btn-danger"
                           onclick="return confirm('En êtes-vous sûr zebi ?')"
                           th:href="@{/professors/delete(id=${professor.id})}">
                            <ion-icon name="trash-outline"></ion-icon>
                            Supprimer</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>